<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Loginservice</servlet-name>
        <servlet-class>Servicios.Loginservice</servlet-class>
        <init-param>
            <param-name>Administrador</param-name>
            <param-value>/WEB-INF/vista/Cliente.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>Cliente</param-name>
            <param-value>WEB-INF/vista/Cliente.jsp</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Redireccionadmin1</servlet-name>
        <servlet-class>Servicios.Redireccionadmin1</servlet-class>
        <init-param>
            <param-name>adminlogincliente</param-name>
            <param-value>WEB-INF/vista/adminlogincliente.jsp</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>LoginserviceCaja</servlet-name>
        <servlet-class>Servicios.LoginserviceCaja</servlet-class>
        <init-param>
            <param-name>Administrador</param-name>
            <param-value>WEB-INF/vista/Administrador.jsp</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>RegistroserviceCaja</servlet-name>
        <servlet-class>Servicios.RegistroserviceCaja</servlet-class>
        <init-param>
            <param-name>RegistroCliente</param-name>
            <param-value>WEB-INF/vista/RegistroCliente.jsp</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>CuentaRegistroadmin</servlet-name>
        <servlet-class>Servicios.CuentaRegistroadmin</servlet-class>
        <init-param>
            <param-name>VentanaCreacuenta</param-name>
            <param-value>WEB-INF/vista/VentanaCreacuenta.jsp</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Loginservice</servlet-name>
        <url-pattern>/Loginservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Redireccionadmin1</servlet-name>
        <url-pattern>/Redireccionadmin1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginserviceCaja</servlet-name>
        <url-pattern>/LoginserviceCaja</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroserviceCaja</servlet-name>
        <url-pattern>/RegistroserviceCaja</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CuentaRegistroadmin</servlet-name>
        <url-pattern>/CuentaRegistroadmin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <init-param>
        <param-name>Cliente</param-name>
        <param-value>WEB-INF/vista/Cliente.jsp</param-value>
    </init-param>
</web-app>
